/* ==========================================================================
   Base
   ========================================================================== */

body {
    background-color: #1b1916;
    /*color: #b03216;*/
	color: #DFCBA2;
}

a {
    color: #b03216;
    text-decoration: underline;
}

h1 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	margin-bottom: 7px;
}

h1,h2,h3,h4,h5,h6 {
	color: #b03216;
}

hr {
	border-bottom: 0px solid #545454;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top: 1px solid #383838;
    clear: both;
    height: 0px;
}



/* =============================================================================
   Header
   ========================================================================== */



.navbar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
    
    
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow:    0px 0px 10px rgba(0, 0, 0, 0.6);
    box-shadow:         0px 0px 10px rgba(0, 0, 0, 0.6);
}

.navbar-inner{
    box-shadow: inset 0 5px 18px rgba(0,0,0,0.6);
}

.banner { }


.header-bg-container {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #010101;
    height: 400px;
}
.navbar-inner {
    background: none;
    border: 0px;
    text-align: center;
}

.navbar-container {
    width: 615px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.navbar .nav > li > a 
{
    color: #b03216;
    text-shadow: none;
    font-weight: bold;
}

.navbar .nav > .active > a
{
    position: relative;
    background: rgba(176, 50, 22, 0.2);
    color: #e4dede;
}

.navbar .nav > .active > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.navbar .nav > .active > a:after {
	border-color: rgba(176, 50, 22, 0);
	border-top-color: rgba(176, 50, 22, 0.1);
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}



.navbar .nav > li > a:focus, .navbar .nav > li > a:hover
{
    color: #e4dede;
}



.page-header {
    margin: 0px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }


.main-container{
    padding-bottom: 15px;
}

.blog-container{
	margin-top: 20px;
	
}

.page-header {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.row {
    float: left;
}

.blog-item {    
    
    margin-left: 0px;
    /*
    padding-right: 10px;
    */
    margin-bottom: 12px;
    margin-right: 8px;
    
    
    border-radius: 2px;
    border: 1px solid #696D72;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(255,255,255,0.1),inset 0 1px 5px rgba(0,0,0,0.1);
    min-height: 410px;    
}

.blog-item .span4 {
    margin-left: 0px;
}

.blog-item h3 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    
    text-decoration: none;
}

.blog-item hr {
    margin: 2px 0px 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.post hr {
    margin: 2px 0px 8px;
}

.page-header hr {
	margin: 0px;
	margin-bottom: 12px;
}

.blog-item p {
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    color: #DFCBA2;
    padding-left: 10px;
    padding-right: 10px;
}

.blog-item img {
    padding-left: 10px;
}

@media (min-width: 1200px){
    .blog-item img {
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) { 

    .blog-item img {
            width: 93.5%;
    }
}

@media (min-width: 768px) and (max-width: 979px) { 

    .blog-item img {
            width: 92%;
    }
}

@media (max-width: 767px) { 

    .blog-item img {
            width: 97%;
    }
}



.blog-item a{
    text-decoration: none;
    padding-left: 4px;
    
}

.post_date {
    
}

.post_metadata {
    font-size: 10px;
    line-height: 10px;
    /*color: #363533;*/
    padding-left: 5px;
}

.post_metadata span {
    margin-top: -2px;
    padding: 2px;
    margin-bottom: 2px;
}

.entry-tags{
    margin-top: 14px;
}

.entry-tags span{
    padding: 5px;
    background-color: #B03216;
    margin-right: 7px;
}

.entry-tags a{
    color: #DFCBA2;
    text-decoration: none;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.widget-inner{
    margin-top: 15px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }


.footer-of-page{
    text-align: center;
    font-size: 0.7em;
    padding-top: 15px;
    background-color: #010101;
    min-height: 200px;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
