/* ==========================================================================
   Base
   ========================================================================== */

body {
    background: #010101;
    color: #b03216;
}

a {
    color: #b03216;
    text-decoration: underline;
}



/* =============================================================================
   Header
   ========================================================================== */





.banner { }


.header-bg-container {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
}
.navbar-inner {
    background: none;
    border: 0px;
    text-align: center;
}

.navbar-container {
    width: 615px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -40px;
}

.navbar .nav > li > a 
{
    color: #b03216;
    text-shadow: none;
    font-weight: bold;
}


.page-header {
    margin: 0px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }


.page-header {
    border: 0px;
}

.row {
    float: left;
}

.blog-item {
    padding: 10px;
}


.blog-item p{
    line-height: 18px;
    text-align: justify;
}

.post_date {
    font-size: 9px;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
